<style>
    .container .footer{
        margin-left: 470px;
    }
    @media (max-width:1000px) {
        .container .footer{
        margin-left: 25px;
        }
}
</style>
<footer class="footer bg-primary py-2 mt-auto">
    <div class="container">
        <span  class="text-light footer">&copy;DESIGNED BY AATHAVAN AND KARTHI</span>
    </div>
</footer>
