<% layout('layout/boilerplate.ejs') %>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<style>
    .animate__animated.animate__swing{
        animation-duration:7s;
    }
</style>
<% if(symp.feeds.length){ %> 
<div class="row">
    <h2 class="text-center mb-3"><%=symp.title%> FEEDBACKS</h2>
    <%for(let feed of symp.feeds){%>
            <div class="col-lg-4">
                <div class="card shadow bg-primary">
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                              <p class="text-white"><%=feed.body%></p>
                            </blockquote>
                            <figcaption class="blockquote-footer text-white">
                             <%=feed.author.username%><cite title="Source Title"> <%=feed.author.roll%></cite>
                            </figcaption>
                          </figure>
                    </div>
                </div>
            </div>
    <%}%>
</div>
<% } else{%>
    <h1 class="text-center text-primary animate__animated animate__swing">NO FEEDBACKS</h1>
   <marquee scrollamount="17" behavior="" direction=""> <img src="https://i.pinimg.com/originals/5d/6d/ac/5d6dac450821b56d3119aefd7e100779.gif" alt=""></marquee>
    
     <% } %> 