<% layout('layout/boilerplate.ejs') %>
<link rel="stylesheet" href='/stylesheets/home.css'>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Arvo:ital@1&family=Balsamiq+Sans&family=Comfortaa:wght@500&family=Creepster&family=Lato:ital,wght@1,300&family=Lobster&family=Marck+Script&family=Monda&family=Pacifico&family=Sacramento&family=Tangerine:wght@700&display=swap');
h3{

    font-family: 'Creepster', cursive;

}
p{
    font-family: 'Marck Script', cursive;
    font-size:1.6rem;
    
    margin-left: 10px;
}
a{
    
font-family: 'Comfortaa', cursive;
    
}
    a:hover{
        background-color: none;
    }
</style>
<di class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                    <h3 class="text-center text-white display-3"> KECFEST</h3>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, debitis dolores beatae dolorum, laudantium rerum ab, soluta ducimus praesentium fugit impedit sit ad quibusdam ipsum neque autem ea modi ullam.</p>
                    <a href="/clubs" class=" btn btn-outline-light">VIEW KECFEST</a>
        </div>
    </div>
</di>

