<% layout('layout/boilerplate.ejs') %>
<link rel="stylesheet" href='/stylesheets/home.css'>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Arvo:ital@1&family=Balsamiq+Sans&family=Comfortaa:wght@500&family=Creepster&family=Lato:ital,wght@1,300&family=Lobster&family=Marck+Script&family=Monda&family=Pacifico&family=Sacramento&family=Tangerine:wght@700&display=swap');
h3{

    font-family: 'Creepster', cursive;

}
p{
    font-family: 'Marck Script', cursive;
    font-size:1.6rem;
    
    margin-left: 10px;
}
a{
    
font-family: 'Comfortaa', cursive;
    
}
    a:hover{
        background-color: none;
    }
</style>
<di class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                    <h3 class="text-center text-white display-3">FEST</h3>
                    <p class="text-white">This site enables User to login with their account and have a look at all the events that are live at that moment. You are just one step ahead to view and explore all the events and create an event for your club.</p>
                    <a href="/clubs" class=" btn btn-outline-light">VIEW FEST</a>
        </div>
    </div>
</di>

